@charset "UTF-8";

/* @font-face {
    font-family: 'Title';
    src: url('SuXinShiGuYinSongJian.ttf') format('ttf'),
         url('SuXinShiGuYinSongJian.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

/* @font-face {
  font-family: "Sub-Title";
  src: url("Safe-from-harm.ttf") format("ttf"),
      url('safe-from-harm.woff2') format('woff2'),
      url('safe-from-harm.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "Main";
  src: url("Zcool-LengShuiXiaoQingKeTi-Regular.ttf") format("ttf"),
       url('Zcool-LengShuiXiaoQingKeTi-Regular.woff2') format('woff2'),
       url('Zcool-LengShuiXiaoQingKeTi-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* @font-face {
  font-family: "English";
  src: url("Aucoinextbol.Ttf") format("ttf"),
       url('aucoinextbol.woff2') format('woff2'),
       url('aucoinextbol.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */