/**
 * global
 */

* {
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    padding-left: 60px !important;
    background-color: #ecf0f1;
    overflow: hidden;
}

::-webkit-scrollbar{
    display: none;
}

/** 
 * nav
 */

.mask {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .4);
}

.menu-bar {
    position: fixed;
    top: 0;
    left: -12rem;
    height: 100%;
    width: 12rem;
    z-index: 10;
    background: lightseagreen;
}

.menu-bar a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    text-decoration: none;
}

.menu-bar a:hover {
    color: white;
}

.list-group-item.active {
    background-color: #1d2124 !important;
    border-color: #1d2124;
    color: white;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 3.75rem;
    /* background-color: #778899; */
    background-color: #6c757d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}

.nav-top,
.nav-bottom {
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.nav-bottom:hover{
    background-color: #545b62;
}

.volume-mute{
    background-image: url("../img/icon/volume-mute.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.volume-fill{
    background-image: url("../img/icon/volume-fill.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-center {
    width: 100%;
    background-color: lightgoldenrodyellow;
}

.nav-center a {
    cursor: pointer;
}

/**
 * main
 */

main.container-fluid{
    width: 100%;
    height: 100%;
}

main .section{
    text-align: center;
    overflow: hidden;
}

main.sec-a,
main.sec-b,
main .sec-1,
main .sec-2{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
}

.section.hide .sec-1{
    z-index: 2;
}

.section.hide .fp-slidesNav{
    display: none;
}

/* section-0 guidance */
#section-0{
    position: relative;
    background-color: lightblue;
}


#section-0 .jumbotron{
    width: 50%;
    height: 100%;
    margin: auto;
}

#section-0 h1{
    cursor: pointer;
}

#letter {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
}

#letter .card-text{
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

#letter .card-title{
    color: whitesmoke;
}

#letter .card-body{
    text-align: left;
}

/* section-1 */
#section-1{
    background-color: lightgray;
}

.trip-wrap{
    /* position: relative; */
    width: 100%;
    height: 100%;
}

.trip-wrap .trip-item{
    position: relative;
    width: 100%;
    height: 100%;
}

.trip-item .sec-b{
    background-color: #6c757d;
    /* background-color: black; */
}

/* .trip-item.show .sec-a{
    display: none;
} */

.trip-wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    visibility: hidden;
}

.trip-intro-video {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-120%) translateX(-50%);
    opacity: .8;
    cursor: pointer;
}

.trip-full-video{
    width: 100%;
    height: 100%;
    text-align: center;
}

.trip-full-video video{
    height: 100%;
    width: auto;
}

.trip-wrap .btn{
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

/* section-2 */
#section-2{
    height: 100vh;
    width: 100%;
    background-color: lightgray;
}

#section-2 .sec-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-2 .cube-wrap {
    perspective: 2000px;
    perspective-origin: center;
}

#section-2 .cube {
    /* background-color: lightblue; */
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    top: -50%;
    animation: spin 8s infinite linear;
    cursor: pointer;
}


#section-2 .cube:hover{
    animation-play-state: paused;
}

.cube div {
    position: absolute;
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    opacity: .8;
    overflow: hidden;
    border-radius: 2px;
    /* transition: all 1s; */
}

.cube div:hover{
    opacity: 1;
}

.cube .back {
    transform: translateZ(-100px) rotateY(180deg);
    background-color: lightblue;
}

.cube .right {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
    background-color: lightcoral;
}

.cube .left {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
    background-color: lightgoldenrodyellow;
}

.cube .top {
    transform: rotateX(-90deg) translateY(100px) rotateZ(180deg);
    transform-origin: top center;
    background-color: lightseagreen;
}

.cube .bottom {
    transform: rotateX(90deg) translateY(100px);
    transform-origin: bottom center;
    background-color: lightpink;
}

.cube .front {
    transform: translateZ(100px);
    background-color: lightcyan;
}

/* .cube video {
    transform: translate(-25%, 0);
} */

@keyframes spin {
    from {
        transform: rotateY(0) rotateX(0);
    }

    to {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@keyframes horizontal {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

@keyframes vertical {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(360deg);
    }
}

.slide .fp-tableCell{
    position: relative;
}

.slide video{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: white;
    background-position: center center;
    background-size: contain;
    object-fit: cover; 
    z-index:3;
    /* background-image: ; */
}

video::-webkit-media-controls {
    display:none !important;
}

.card-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    perspective: 2000px;
    perspective-origin: center;
}

.card-page {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    cursor: pointer;

    animation: returnCard 1s ease both;
}

.reverse {
    animation-name: reverseCard;
}

.card-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

@keyframes reverseCard {
    from {}

    to {
        transform: rotateY(180deg);
    }
}

@keyframes returnCard {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0);
    }
}

.layer{
    width: 100%;
    padding: 0 10%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    color: white;
    cursor: pointer;

}

/* section-3 */
#section-3{
    background-color: lightseagreen;
}


/* section-4 */
#section-4{
    background-color: lightpink;
}

/* section-2 journey */

/**
 * plugin
 */

.element {
    width: 400px;
    height: 400px;
}

.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/** 
 * addition
 */

/* bootstrap.css */
.bg-none{
    background: none !important;
}


/* animations.css */

.pt-delay400 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}
.pt-delay600 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}
.pt-delay1500 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.pt-scaleUpDown {
	-webkit-animation: scaleUpDown .5s ease both;
	animation: scaleUpDown .5s ease both;
}
@-webkit-keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

.pt-scaleDown {
	-webkit-animation: scaleDown .7s ease both;
	animation: scaleDown .7s ease both;
}
@-webkit-keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}


.pt-moveToLeft-50{
    animation: moveToLeft-50 2s ease both;
    -webkit-animation: moveToLeft-50 2s ease both;
}

.pt-moveToBottom-50{
    animation: moveToBottom-50 2s ease both;
    -webkit-animation: moveToBottom-50 2s ease both;
}

@-webkit-keyframes moveToLeft-50 {
	from { }
	to { -webkit-transform: translateX(-50%); }
}
@keyframes moveToLeft-50 {
	from { }
	to { -webkit-transform: translateX(-50%); transform: translateX(-50%); }
} 
@-webkit-keyframes moveToBottom-50 {
	from { }
	to { -webkit-transform: translateY(-50%); }
}
@keyframes moveToBottom-50 {
	from { }
	to { -webkit-transform: translateY(-50%); transform: translateX(-50%); }
} 


/**
 * responsive
 */

@media only screen and (max-width:992px){
    body{
        /* padding-left: 0 !important; */
    }
    #section-0 #letter,
    #section-0 #header{
        width: 100%;
    }
}